body {
  background-color: #677e9b;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}

.about_container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding: 20px;
  box-sizing: border-box;
}

.about_info {
  text-align: center;
  background-color: #0d1b2a;
  border-radius: 22px;
  box-shadow: 0 4px 8px 0 black;
  padding: 20px;
  margin: auto;
  width: 50%;
  max-width: 800px;
}

.student {
  padding: 1em;
}

.student_name {
  color: white;
  text-decoration: underline;
}

.student_pic img {
  border-radius: 20px;
  max-width: 100%;
  height: auto;
}

.bio {
  color: white;
  font-weight: 300;
  font-size: 1.2em;
  margin-top: 10px;
  width: 100%;
}

@media (max-width: 768px) {
  .about_info {
    width: 80%;
    padding: 15px;
  }

  .bio {
    font-size: 1em;
  }
}

@media (max-width: 480px) {
  .about_info {
    width: 95%;
    padding: 10px;
  }

  .bio {
    font-size: 0.9em;
  }
}
