body {
  background-color: #677e9b;
  font-family: Arial, Helvetica, sans-serif;
}

.about_container {
  display: flex;
  justify-content: center;
  height: 150vh;
}

.about_info {
  text-align: center;
  text-align: center;
  background-color: #0d1b2a;
  border-radius: 22px;
  box-shadow: 0 4px 8px 0 black;
  padding: auto;
  margin: auto;
  width: 50%;
}

.student {
  padding: 1em;
}

.student_name {
  color: white;
  text-decoration: underline;
}

.student_pic img {
  border-radius: 20px;
}

.bio {
  display: inline;
  font-weight: 300;
  font-size: 20px;
  width: 50%;
}

@media (max-width: 765px) {
  .about_info {
    margin-top: 10em;
    width: 100%;
  }

  .bio {
    font-size: 1em;
    font-weight: bold;
  }
}
