body {
  background-color: #677e9b;
  text-align: center;
}

.login_container {
  display: inline-block;
  background: #0d1b2a;
  width: 425px;
  height: 320px;
  margin: auto auto;
  margin-top: 10%;
  border-radius: 22px;
  box-shadow: 0 4px 8px 0 black;
}

.login_form_header {
  color: white;
  font-size: 30px;
  margin: 15px;
}

.login_form,
.login_email_text {
  font-family: Arial, Helvetica, sans-serif;
}

.email_input {
  margin: 25px;
  padding: 25px;
}

.login_email_text {
  border: 2px solid;
  border-radius: 6px;
  font-size: 18px;
  width: 80%;
}

.login_button {
  background-color: #677e9b;
  cursor: pointer;
  font-size: 20px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  border: 2px solid black;
  border-radius: 6px;
}

.link_container {
  margin: 25px;
}

.account_creation_link {
  color: white;
  font-size: 15px;
  text-decoration: none;
  cursor: pointer;
}

.account_creation_link:hover {
  color: #677e9b;
}

@media (max-width: 920px) {
  .login_form {
    max-width: 80%;
    position: relative;
    margin-top: 1em;
    min-height: 40vh;
    height: auto;
  }

  .login_container .content {
    padding-top: 2em;
  }
}
