.navbar-wrapper {
  box-sizing: border-box;
  display: flex;
  height: 70px;
  width: 100vw;
  background-color: #0d1b2a;
  justify-content: center;
  align-items: center;
  margin-top: 1em;
}

.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 0;
  z-index: 1000;
  height: 70px;
}

.search-bar-container {
  padding: 1em;
  height: 35px;
}

.search-bar {
  padding: 0.75em;
  border-radius: 0.5em;
}

#user-greeting {
  color: white;
}
