.navbar-wrapper {
  box-sizing: border-box;
  display: flex;
  height: 70px;
  width: 100%;
  background-color: #0d1b2a;
  justify-content: center;
  align-items: center;
}

.navbar {
  display: flex;
  justify-content: space-between;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0 1em;
  box-sizing: border-box;
  position: relative;
  z-index: 1000;
  position: relative;
  width: 100%;
  max-width: 1200px;
  padding: 0 1em;
  box-sizing: border-box;
}

.navbar a {
  color: #e0e1dd;
  text-decoration: none;
  font-size: 16px;
  margin: 0 1em;
}

.search-bar-container {
  padding: 1em;
  height: 35px;
}

.search-bar {
  padding: 0.75em;
  border-radius: 0.5em;
  width: 100%;
  box-sizing: border-box;
}

#user-greeting {
  color: #e0e1dd;
  padding: 0 1em;
  padding: 0 1em;
}

.homelink-container {
  padding-right: 1em;
}

.about-container {
  padding: 0 1em;
}

.view-wishlist {
  padding-left: 3em;
}

@media (max-width: 768px) {
  .navbar {
    padding: 0.5em;
  }

  .search-bar-container {
    padding: 0.5em;
  }

  .search-bar {
    padding: 0.5em;
  }

  .homelink-container,
  .about-container,
  .view-wishlist {
    margin: 3em;
    padding: 0;
  }

  #user-greeting {
    display: none;
  }

  .view-wishlist {
    padding-right: 1em;
    display: flex;
    align-items: center;
    margin-left: auto;
  }
  .view-wishlist {
    padding-left: 0;
  }
}

@media (max-width: 480px) {
  .navbar {
    padding: 0.25em;
  }

  .navbar a {
    font-size: 14px;
  }

  .search-bar-container {
    padding: 0.25em;
  }

  .search-bar {
    padding: 0.25em;
  }

  .homelink-container,
  .about-container,
  .view-wishlist {
    margin: 0.25em;
  }

  #user-greeting {
    display: none;
  }

  .view-wishlist {
    padding-left: 3rem;
    width: 100%;
  }
}

@media (max-width: 375px) {
  .navbar {
    padding: 0.25em;
  }

  .navbar a {
    font-size: 14px;
  }

  .search-bar-container {
    padding: 0.25em;
  }

  .search-bar {
    padding: 0.25em;
  }

  .homelink-container,
  .about-container,
  .view-wishlist {
    margin: 0.25em;
  }

  #user-greeting {
    display: none;
  }

  .view-wishlist {
    padding-left: 3rem;
    width: 100%;
  }
}
