* {
    list-style: none;
    padding: 0;
    margin: 0; /*If this is deleted there is a bit more space between titles*/
}

.popular-games {
    padding: 20px;
    text-align: center;
}

.popular-games h2 {
    margin-bottom: 20px;
    color: #e0e1dd;
    text-shadow: 3px 3px 1px #0d1b2a;
}

.container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 20px;
    max-width: 100vw;
    margin: 0, auto;
    overflow-x: hidden;
}

.container ul {
    display: contents;
}

.container li {
    background-color: #1b263b;
    border-radius: 8px;
    padding: 15px;
    text-align: center;
}

.container li h3 {
    margin-top: 10px;
    font-size: 1.2em;
    color: #e0e1dd;
}

.container li a {
    text-decoration: none;
    color: inherit;
}

.container img {
    max-width: 100%;
    height: auto;
    display: block;
}