.search-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
  }
  
  .search-page h2 {
    font-size: 24px;
    margin-bottom: 20px;
    text-align: center;
    max-width: 600px;
    width: 100%;
    color: #e0e1dd;
    text-shadow: 3px 3px 1px #0d1b2a;
  }
  
  .search-container {
    max-width: 600px;
    margin: 0 auto;
  }
  
  .search-results-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
    width: 100%;
  }
  
  .search-result-item {
    display: flex;
    align-items: center;
    background-color: #1b263b;
    margin-bottom: 15px;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
  }
  
  .search-result-item:hover {
    transform: scale(1.02);
  }
  
  .search-result-link {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: inherit;
    width: 100%;
  }
  
  .search-game-image {
      width: 210px; 
      height: 210px;
      margin-right: 20px;
      border-radius: 4px;
      object-fit: contain;
  }
  
  .search-game-title {
    font-size: 1.5em;
    font-weight: bold;
    flex: 1;
    color: #e0e1dd;
  }